<configuration>
	# Console appender
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			# Pattern of log message for console appender
			<Pattern>[%p] %d{yyyy-MM-dd HH:mm:ss} :: %C :: %M :: %m%n</Pattern>
		</layout>
	</appender>

	# File appender
	<appender name="fout" class="ch.qos.logback.core.FileAppender">
		# Name of a log file
		<file>log4j/target/chat-app-logback.log</file>
		<append>false</append>
		<encoder>
			# Pattern of log message for file appender
			<pattern>[%p] %d{yyyy-MM-dd HH:mm:ss} :: %C :: %M :: %m%n</pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<!--  <appender-ref ref="fout" /> -->
	</root>
</configuration>